<ng-container> 
    <div class="row">
        <header>
            <p class="display-6">Our Agreement and Policy </p>
            <hr>
            <p>By Continuing on this Page Means You Agreed To all terms and condition Spelt out By Autovest Nigeria Limited </p>
        </header>
        <main>
            <p>
               Continuing on this Application request means you that your Guarantors have guarantee Autovest Nigeria Limited that you will comply with the financial and maintenance obligations of the rental/hire purchase agreement. In the event that there is more than one Guarantor, then all Guarantors are jointly and severally liable for all financial obligations/loses/compensation/damages under this lease rental agreement. 
            </p>
            <p>
                In the event that the Driver/Hirer fail to comply with the financial obligations, I understand that I may be required to pay for the following: unremitted rental fees, misplaced/stolen accessories and any damages incurred by the Tenant under the terms of this agreement. 
            </p>
            <p>
                I further understand that this Co-signer agreement will remain in full force throughout the entire term of the drivers'/hirers' program. 
            </p>
            <p>
                Should any aspect of this agreement be litigated, it will be litigated in accordance with the constitution of the Federal Republic of Nigeria as amended in 1999.

            </p>
            <p>Additionally, the Owner, Driver/Hirer and Guarantor hereby agree to waive their rights to a trial by jury and agree to have the matter tried by a judge. </p>
            <hr>
            <p class="">
               <span class="btn btn-primary"> <i class="fa fa-car">&nbsp;</i> We Love to Make Our Processes Simple and Stress Free . </span>
            </p>
            <span>
                Please Make an Online Payment of 500 Naira  For Automatic Documents Processing 
            </span>
            <span>
            
                    
                    <button type="submit" (click)="makePayment()">Pay Now</button>
      
            </span>
        </main>

        <footer>
            <div mat-dialog-action [align]="'end'">
                <button mat-raised-button mat-dialog-close color="warn">Close</button>
                <!-- <button mat-raised-button  style="margin-left:10px" color="primary" (click)="addProduct()">{{actionBtn}}</button> -->
              </div>
            
        </footer>
    </div>
</ng-container>
