<app-navigation></app-navigation>
<ng-container>
    <main id="main" class="main" >
        <div class="pagetitle">
          <h1>Digital Agreement Portal</h1>

          </div>
          <section class="section profile" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>Drivers' Agreement </h2>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <p>
                                This agreement will be attached to and formed a part of the rental lease/Hire Purchase agreement between Autovest Nigeria, a subsidiary of NIB Motors (a registered company with Corporate Affairs Commission) herein after the Owner and ________________
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                </section>

          </main>

    </ng-container>