<app-navigation></app-navigation>
<ng-container>
    <main id="main" class="main" >
        <div class="pagetitle">
          <h1>Digital Agreement Portal</h1>

          </div>
          <section class="section profile" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>Drivers' Agreement </h2>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <p>
                                This agreement will be attached to and formed a part of the rental lease/Hire Purchase agreement between Autovest Nigeria, a subsidiary of NIB Motors (a registered company with Corporate Affairs Commission) herein after the Owner and ________________   herein after the "Hirer/Driver" for the rental/hire purchase of the vehicle at weekly rental sum of............................................................... Naira. 
                            </p>
                            <p>
                             
                                The Co-signer and "Guarantor," hereby attest and acknowledge the following:
                                <br> <br>
                                I have completed a guarantor application for the express purpose of anabling the Owner to check my credit. I have no intention to use/rent the vehicle in the rantal/lease agreement. 
                                I understand that by signing this document, I am acting as a co-signer and Guarantor for the weekly payment of............................ ............. Naira. 
                            </p>
                            <p>
                                I promise to guarantee the Driver/Hirer to comply with the financial and maintenance obligations of the rental/hire purchase agreement. In the event that there is more than one Guarantor, then all Guarantors are jointly and severally liable for all financial obligations/loses/compensation/damages under this lease rental agreement.       </p>
                                <p>In the event that the Driver/Hirer fail to comply with the financial obligations, I understand that I may be required to pay for the following: unremitted rental fees, misplaced/stolen accessories and any damages incurred by the Tenant under the terms of this agreement.  <br></p>
                                <p>
                                    I further understand that this Co-signer agreement will remain in full force throughout the entire term of the drivers'/hirers' program. 
                                    Should any aspect of this agreement be litigated, it will be litigated in accordance with the constitution of the Federal Republic of Nigeria as amended in 1999. <br>
                                </p>
                                <p>
                                    Additionally, the Owner, Driver/Hirer and Guarantor hereby agree to waive their rights to a trial by jury and agree to have the matter tried by a judge. 
                                    This agreement is not binding on either party without a fully executed Rental Lease Agreement. 
                                </p>

                       
                        </div>
                    </div>
                </div>
                </div>
                </section>

          </main>

    </ng-container>